.task-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.no-tasks-message {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 100px;
  color: #737982;
}

.no-tasks-icon {
  color: #737982;
  font-size: 0.9rem;
}

.task-item {
  color: #c5cbcf;
  margin: 2px 0;
  padding: 6px;
  width: 415px;
  display: flex;
  align-items: center;
}

.task-description {
  font-size: 0.9rem;
  margin: 0;
  margin-left: 5px;
  cursor: pointer;
}

.task-checkbox {
  width: 1em;
  height: 1em;
  background-color: #484f58;
  border-radius: 16%;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border: 1px solid #23262b;
  flex-shrink: 0;
}

.task-checkbox:hover {
  background-color: #616974;
}

.task-content {
  display: flex;
  align-items: flex-start;
  width: 100%;
}