<div>
  <p *ngIf="pinnedTasks.length === 0 && unpinnedTasks.length === 0" class="no-tasks-message">
    <i class="material-icons no-tasks-icon">library_add_check</i>
    Please add a task to get started.
  </p>
  <ul class="task-list">
    <li *ngFor="let task of pinnedTasks" class="task-item">
      <div class="task-container">
        <div class="task-content">
          <input id="{{ task.id }}"class="task-checkbox" type="checkbox" (change)="onTaskDelete(task.id)"/>
          <div class="task-description">{{ task.description }}</div>
        </div>
        <div class="task-action" (click)="onTaskUnpin(task)">
          <i class="material-symbols-outlined keep-icon">keep_off</i>
        </div>
      </div>
    </li>
    <div *ngIf="pinnedTasks.length > 0 && unpinnedTasks.length > 0" class="divider"></div>
    <li *ngFor="let task of unpinnedTasks" class="task-item">
      <div class="task-container">
        <div class="task-content">
          <input id="{{ task.id }}"class="task-checkbox" type="checkbox" (change)="onTaskDelete(task.id)"/>
          <div class="task-description">{{ task.description }}</div>
        </div>
        <div class="task-action" (click)="onTaskPin(task)">
          <i class="material-symbols-outlined keep-icon">keep</i>
        </div>
      </div>
    </li>
  </ul>
</div>
